:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --secondary-color: #2196F3;
}

body {
    background: #F5F5F5;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    outline: 2px solid tomato;
    padding-left: 15px;
    padding-right: 15px;
}


.page-header {
    background: #FFFFFF;
    letter-spacing: 0.02em;
    
    
}


.logo {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex;
    align-items: center; */
}

.logo-primary {
    color: #000000;


}

.logo-secondary {
    color: #FFFFFF;

}
/* nav */
/* .nav-list {
    display: flex;
    align-items: center;

}  */

.header-block {
    display: flex;
    align-items: center;
}

.list-fededback {
    margin: 0px;
    padding: 0px;
}

.list-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.site-nav .primary {
    padding-left: 93px;
}

 .site-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }
/* .list-nav .site-nav   {
    margin-right: 50px;
    outline: 1px solid tomato;
}

.list-nav .site-nav:last-child {
    margin-right: 0px;
} */

.site-nav + .site-nav {
    margin-left: 50px;
}

.site-nav>a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav :hover,
.site-nav :focus {
    color: var(--secondary-color);
}

.site-nav.primary a:active,
.site-nav.primary a:visited {
    color: var(--secondary-color);

}

.list-fededback {
    display: flex;
   background-color:  tomato;
}
.feedback + .feedback {
    margin-left: 50px;
}

.feedback>a {
    color: var(--paragraph-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.feedback :hover,
.feedback :focus {
    color: var(--secondary-color)
}

/* promo */

.features-box {
    display: flex;
    align-items: center;
}




.promo {
    text-align: center;
    background: #2F303A;
    letter-spacing: 0.06em;
}

.promo-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    outline: 2px solid tomato;
    margin: 0 0 30px;
    padding: 0px;


}

.btn {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.features {
    letter-spacing: 0.03em;
    background: #F5F5F5;
    text-align: center;
}
.main-title {
    display: none;
    margin: 0px;
    padding: 0px;

}
.title-features {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.text-features {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.71;
    margin: 0px;
    padding: 0px;

}

/* about */

.about {
    background: #F5F5F5;
    letter-spacing: 0.03em;
}
.list-about {
    margin: 0px;
    padding: 0px;

}

.about-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/* team */

.list-team {
    margin: 0px;
    padding: 0px;
}

.team {
    background: #F5F4FA;
    letter-spacing: 0.03em;
    text-align: center;
}

.team h2 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0px;
     padding: 0px;
    }


.title-team {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

}

.text-team {
    color: var(--paragraph-text-color);
    font-size: 16px;
    line-height: 1.18;
    margin: 0px;
    padding: 0px;
}
/* footer */

.footer {
    background: #2F303A;
    letter-spacing: 0.03em;

}



.addrres>a {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.addrres :hover,
.addrres :focus {
    color: var(--secondary-color);
}

.feedback-footer>a {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.feedback-footer :hover,
.feedback-footer :focus {
    color: var(--secondary-color);
}

.btn-filters {
    color: var(--primary-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-filters:hover,
.btn-filters:focus {
    background: #2196F3;
    color: #FFFFFF;
}

.portfolio {
    background: #F5F5F5;
    letter-spacing: 0.06em;
}

.portfolio-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio-text {
    color: var(--paragraph-text-color);
    font-size: 16px;
    line-height: 2.25;
}

/* container */



   